<div class="container">

  <h1>PHOTO</h1>
  <h1><%= @photo.title %></h1>


    <%= image_tag @photo.image.url(:medium) %>


  <h2><%= link_to "Back to All Photos", photos_path %></h2>


  <h3><%= "Comments" %></h3>
  <h3><%= @photo.comments %></h3>

</div>
